
QUANLIQUANCAFE/.vs/QUANLIQUANCAFE/v17/.suo
QUANLIQUANCAFE/.vs/QUANLIQUANCAFE/FileContentIndex/7a36f777-3269-4523-8750-73e0cae76558.vsidx
QUANLIQUANCAFE/.vs/QUANLIQUANCAFE/FileContentIndex/7852b0a7-d1a3-4a2e-aba7-dee27a657925.vsidx
QUANLIQUANCAFE/.vs/QUANLIQUANCAFE/FileContentIndex/731bd611-cd01-4dc7-b175-9c0180649bf1.vsidx
QUANLIQUANCAFE/.vs/QUANLIQUANCAFE/FileContentIndex/7a36f777-3269-4523-8750-73e0cae76558.vsidx
QUANLIQUANCAFE/.vs/QUANLIQUANCAFE/FileContentIndex/22f6f96f-015c-4f54-a462-965b646b5d4a.vsidx
