CREATE DATABASE [PBL3]
go
use PBL3
CREATE TABLE [dbo].[Account](
	[StaffID] [nchar](10) NOT NULL,
	[Account] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[AreaID] [nvarchar](4) NOT NULL,
	[AreaName] [nvarchar](50) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[AreaNameInEng] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [nchar](10) NOT NULL,
	[TimeCheckOut] [datetime] NOT NULL,
	[TotalBill] [int] NOT NULL,
	[DiscountID] [nchar](10) NULL,
	[OtherFee] [int] NULL,
	[TableID] [nvarchar](4) NOT NULL,
	[StaffID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data](
	[BillID] [nchar](10) NOT NULL,
	[DishName] [nchar](50) NOT NULL,
	[Quantity] [int] NULL,
	[Time] [date] NOT NULL,
	[Price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[DiscountID] [nchar](10) NOT NULL,
	[DiscountName] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[DiscountNameInEng] [nvarchar](max) NOT NULL,
	[Percent] [bit] NOT NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DishGroup]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DishGroup](
	[GroupID] [nchar](4) NOT NULL,
	[GroupName] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[GroupNameInEng] [nvarchar](max) NULL,
 CONSTRAINT [PK_DishGroup] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Income]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[TableID] [nvarchar](4) NOT NULL,
	[TimeCheckOut] [datetime] NOT NULL,
	[TotalBill] [nchar](10) NOT NULL,
	[StaffID] [nchar](10) NOT NULL,
	[Note] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[DishID] [nchar](10) NOT NULL,
	[DishName] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[GroupID] [nchar](4) NOT NULL,
	[DishNameEng] [nvarchar](50) NULL,
 CONSTRAINT [PK_DoAn] PRIMARY KEY CLUSTERED 
(
	[DishID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[TableID] [nvarchar](4) NOT NULL,
	[DishID] [nchar](10) NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [nchar](10) NOT NULL,
	[StaffName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[DateIn] [date] NOT NULL,
	[Sex] [bit] NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[GrocID] [nchar](10) NOT NULL,
	[GrocName] [nvarchar](50) NOT NULL,
	[Quantity] [nchar](10) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[TimeCheckIn] [datetime] NOT NULL,
	[GrocNameInEng] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[GrocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[TableID] [nvarchar](4) NOT NULL,
	[AreaID] [nvarchar](4) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
	[MergeList] [nvarchar](max) NULL,
	[TableNameInEng] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TakeOut]    Script Date: 6/17/2022 8:53:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TakeOut](
	[GrocID] [nchar](10) NOT NULL,
	[GrocName] [nvarchar](50) NOT NULL,
	[QuantityOut] [int] NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[TimeCheckOut] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([StaffID], [Account], [Password], [Role]) VALUES (N'0001      ', N'admin', N'admin', 1)
GO
INSERT [dbo].[Account] ([StaffID], [Account], [Password], [Role]) VALUES (N'0002      ', N'duc', N'1234', 0)
GO
INSERT [dbo].[Area] ([AreaID], [AreaName], [TrangThai], [AreaNameInEng]) VALUES (N'0001', N'Khu A     ', 0, N'Zone A')
GO
INSERT [dbo].[Area] ([AreaID], [AreaName], [TrangThai], [AreaNameInEng]) VALUES (N'0002', N'Khu B     ', 0, N'Zone B')
GO
INSERT [dbo].[Area] ([AreaID], [AreaName], [TrangThai], [AreaNameInEng]) VALUES (N'0003', N'Khu C     ', 0, N'Zone C')
GO
INSERT [dbo].[Bill] ([BillID], [TimeCheckOut], [TotalBill], [DiscountID], [OtherFee], [TableID], [StaffID]) VALUES (N'0001      ', CAST(N'2022-06-01T22:35:56.000' AS DateTime), 29000, N'000       ', 0, N'BA02', N'0001      ')
GO
INSERT [dbo].[Bill] ([BillID], [TimeCheckOut], [TotalBill], [DiscountID], [OtherFee], [TableID], [StaffID]) VALUES (N'0002      ', CAST(N'2022-06-01T22:35:56.000' AS DateTime), 19000, N'004       ', 0, N'BA01', N'0001      ')
GO
INSERT [dbo].[Bill] ([BillID], [TimeCheckOut], [TotalBill], [DiscountID], [OtherFee], [TableID], [StaffID]) VALUES (N'0003      ', CAST(N'2022-06-02T11:50:48.000' AS DateTime), 521000, N'006       ', 0, N'BA02', N'0001      ')
GO
INSERT [dbo].[Data] ([BillID], [DishName], [Quantity], [Time], [Price]) VALUES (N'0001      ', N'PHIN SỮA ĐÁ    Nhỏ                                ', 1, CAST(N'2022-06-01' AS Date), 29000)
GO
INSERT [dbo].[Data] ([BillID], [DishName], [Quantity], [Time], [Price]) VALUES (N'0003      ', N'CAPPUCCINO/LATTE    Lớn                           ', 9, CAST(N'2022-06-02' AS Date), 69000)
GO
INSERT [dbo].[Data] ([BillID], [DishName], [Quantity], [Time], [Price]) VALUES (N'0004      ', N'CAPPUCCINO/LATTE    Lớn                           ', 4, CAST(N'2022-06-02' AS Date), 69000)
GO
INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [Value], [DiscountNameInEng], [Percent], [Active]) VALUES (N'000       ', N'Không khuyến mãi', N'0', N'No discount', 0, 1)
GO
INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [Value], [DiscountNameInEng], [Percent], [Active]) VALUES (N'001       ', N'Khuyến mãi 10%', N'10', N'10% discount', 1, 1)
GO
INSERT [dbo].[Discount] ([DiscountID], [DiscountName], [Value], [DiscountNameInEng], [Percent], [Active]) VALUES (N'002       ', N'Khuyến mãi 25%', N'25', N'25% discount', 1, 1)
GO
INSERT [dbo].[DishGroup] ([GroupID], [GroupName], [Value], [GroupNameInEng]) VALUES (N'G001', N'Cà Phê Phin', NULL, N'Vietnamese PHIN coffee')
GO
INSERT [dbo].[DishGroup] ([GroupID], [GroupName], [Value], [GroupNameInEng]) VALUES (N'G002', N'Trà', NULL, N'Tea')
GO
INSERT [dbo].[DishGroup] ([GroupID], [GroupName], [Value], [GroupNameInEng]) VALUES (N'G003', N'Freeze', NULL, N'Iced blended')
GO
INSERT [dbo].[Menu] ([DishID], [DishName], [Price], [GroupID], [DishNameEng]) VALUES (N'BA01      ', N'TIRAMISU', 29000, N'G006', N'TIRAMISU CAKE')
GO
INSERT [dbo].[Menu] ([DishID], [DishName], [Price], [GroupID], [DishNameEng]) VALUES (N'BA02      ', N'BÁNH CHUỐI', 29000, N'G006', N'BANANA CAKE')
GO
INSERT [dbo].[Menu] ([DishID], [DishName], [Price], [GroupID], [DishNameEng]) VALUES (N'BA03      ', N'MAOUSSE ĐÀO', 29000, N'G006', N'PEACH MAOUSSE')
GO
INSERT [dbo].[Staff] ([StaffID], [StaffName], [PhoneNumber], [Address], [DateIn], [Sex]) VALUES (N'0001      ', N'Linh', 934894000, N'123 ABC   ', CAST(N'2022-10-04' AS Date), 1)
GO
INSERT [dbo].[Staff] ([StaffID], [StaffName], [PhoneNumber], [Address], [DateIn], [Sex]) VALUES (N'0002      ', N'Đức', 123456789, N'111 AAA   ', CAST(N'2022-04-10' AS Date), 1)
GO
INSERT [dbo].[Staff] ([StaffID], [StaffName], [PhoneNumber], [Address], [DateIn], [Sex]) VALUES (N'0003      ', N'Nhâm', 111111111, N'211 AAB   ', CAST(N'2022-04-10' AS Date), 1)
GO
INSERT [dbo].[Storage] ([GrocID], [GrocName], [Quantity], [Unit], [Price], [TimeCheckIn], [GrocNameInEng]) VALUES (N'CF01      ', N'Đường trắng', N'19        ', N'Kg', 80000, CAST(N'2022-04-13T00:00:00.000' AS DateTime), N'Coffee beans')
GO
INSERT [dbo].[Storage] ([GrocID], [GrocName], [Quantity], [Unit], [Price], [TimeCheckIn], [GrocNameInEng]) VALUES (N'CF04      ', N'Đường nâu', N'40        ', N'Kg', 89000, CAST(N'2022-04-13T00:00:00.000' AS DateTime), N'Coffee ')
GO
INSERT [dbo].[Storage] ([GrocID], [GrocName], [Quantity], [Unit], [Price], [TimeCheckIn], [GrocNameInEng]) VALUES (N'CF06      ', N'Sữa La Roseé', N'1         ', N'Thùng', 564000, CAST(N'2022-04-13T00:00:00.000' AS DateTime), N'Condensed milk')
GO
INSERT [dbo].[Table] ([TableID], [AreaID], [TableName], [Status], [MergeList], [TableNameInEng]) VALUES (N'BA01', N'0001', N'Bàn 1     ', 0, N'BA01', N'Table 1')
GO
INSERT [dbo].[Table] ([TableID], [AreaID], [TableName], [Status], [MergeList], [TableNameInEng]) VALUES (N'BA02', N'0001', N'Bàn 2     ', 0, N'BA02', N'Table 2')
GO
INSERT [dbo].[Table] ([TableID], [AreaID], [TableName], [Status], [MergeList], [TableNameInEng]) VALUES (N'BA03', N'0001', N'Bàn 3     ', 0, N'BA03', N'Table 3')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Staff]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Discount] FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discount] ([DiscountID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Discount]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[Data]  WITH CHECK ADD  CONSTRAINT [FK_Data_Bill] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
GO
ALTER TABLE [dbo].[Data] CHECK CONSTRAINT [FK_Data_Bill]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_Income_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([TableID])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_Income_Table]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_ThongKeDoanhThu_NhanVien] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_ThongKeDoanhThu_NhanVien]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_DishGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[DishGroup] ([GroupID])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_DishGroup]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_DatMon_DoAn] FOREIGN KEY([DishID])
REFERENCES [dbo].[Menu] ([DishID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_DatMon_DoAn]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Table] FOREIGN KEY([TableID])
REFERENCES [dbo].[Table] ([TableID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Table]
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD  CONSTRAINT [FK_Ban_KhuVuc] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Area] ([AreaID])
GO
ALTER TABLE [dbo].[Table] CHECK CONSTRAINT [FK_Ban_KhuVuc]
GO
ALTER TABLE [dbo].[TakeOut]  WITH CHECK ADD  CONSTRAINT [FK_XuatKho_HangHoa] FOREIGN KEY([GrocID])
REFERENCES [dbo].[Storage] ([GrocID])
GO
ALTER TABLE [dbo].[TakeOut] CHECK CONSTRAINT [FK_XuatKho_HangHoa]
GO
USE [master]
GO
